@media screen and (max-width: 1023.75px) {
    .animation-container {
        width: m-get-vw(294px);
        height: m-get-vw(416px);
    
        border-radius: m-get-vw(15px);
        overflow: hidden;
    
        .animation-wrapper {
            width: 100%;
            height: 100%;
    
            position: relative;
    
            border-radius: m-get-vw(15px);
    
            &::after {
                width: 100%;
                height: 100%;
                top: 0;
    
                position: absolute;
    
                border-radius: m-get-vw(15px);
                box-shadow: inset 0 0 m-get-vw(10px) rgba( $red, .2 );
                z-index: 2;
                pointer-events: none;
                content: '';
            }
        }
    
        img {
            width: 100%;
            height: 100%;    
            display: block;
            object-fit: cover;
            object-position: center;
        }
    }
}