@media screen and (max-width: 1023.75px) {
    header {
        width: 100vw;
        padding: 0 m-get-vw(18px);
        padding-top: m-get-vw(18px);

        position: relative;
        display: flex;
        flex-direction: column;

        .logo {
            width: m-get-vw(180px);

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }

        h1 {
            margin-top: m-get-vw(8px);
            @include montserrat-bold(m-get-vw(45px), m-get-vw(45px));
            letter-spacing: m-get-vw(2px);
            color: $red;

            span {
                margin-top: m-get-vw(4px);
                display: block;
                @include montserrat-regular(m-get-vw(26px), m-get-vw(26px));
                letter-spacing: m-get-vw(2.6px);
            }
        }

        h2 {
            white-space: nowrap;
            letter-spacing: m-get-vw(-1.5px);
            margin-left: get-vw(-6px);
            @include caveat-regular(m-get-vw(46px), m-get-vw(46px));
            color: $blue;
            transform: rotate(-1deg);
        }
    }
}