@media screen and (max-width: 1023.75px) {
    html, body {
        background-color: $white;
    }
    
    main {
        margin-top: m-get-vw(12px);
        padding: 0 m-get-vw(20px);
    
        display: flex;
        flex-direction: column;
        
        .animation-container {
            align-self: flex-end;
        }
    
        .text-container {
            align-self: flex-start;
            width: max-content;
            margin-top: m-get-vw(36px);
    
            h2 {
                @include montserrat-regular(m-get-vw(26px), m-get-vw(26px));
                letter-spacing: m-get-vw(2.6px);
                color: $red;
            }
        }
    }
    
    footer {
        margin-top: m-get-vw(20px);
    }
    
    aside {
        padding-left: m-get-vw(12px);
        left: 0; top: m-get-vw(450px);
        position: absolute;
        z-index: 5;
    }
}