@media screen and (min-width: 1024px) {
    footer {
        width: 100vw;
        height: get-vw(160px);
        
        display: flex;
        flex-direction: column;
        align-items: center;
    
        p {
            margin-top: get-vw(10px);
            @include montserrat-medium(get-vw(22px), get-vw(30px));
            color: $red;
        }

        p:first-child { letter-spacing: get-vw(1.8px); }
        p:last-child { letter-spacing: get-vw(.4px); }
    
        a { text-decoration: underline; }
    
        &::before {
            width: get-vw(768px);
            height: get-vw(2px);
    
            background-color: $red;
            content: '';
        }
    }
}