@media screen and (max-width: 1023.75px) {
    footer {
        width: 100vw;
        padding: m-get-vw(42px) 0;
        
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            margin-top: m-get-vw(10px);
            @include montserrat-medium(m-get-vw(16px), m-get-vw(20px));
            text-align: center;
            color: $red;

            a { 
                display: block;
                text-decoration: underline; 
            }
        }

        p:first-child { order: 1; }
        p:last-child { order: 3; }


        &::before {
            order: 2;
            width: m-get-vw(325px);
            height: m-get-vw(1.5px);
            margin-top: m-get-vw(52px);
            margin-bottom: get-vw(12px);

            background-color: $red;
            content: '';
        }
    }
}