@media screen and (max-width: 1023.75px) {
    #title-slider {
        width: m-get-vw(344px);
        height: m-get-vw(62px);
    
        position: relative;
    
        #{--slideWidth}: m-get-vw(344px);
        #{--uiColor}: $red;
    
        .slider_next,
        .slider_prev {
            top: m-get-vw(16px);
            bottom: unset;
            width: m-get-vw(14px);
            height: m-get-vw(14px);
            opacity: .3;
        }
    
        .slider_next { right: m-get-vw(-20px); }
        .slider_prev { left: m-get-vw(-20px); }
    
        .slide {
            @include montserrat-medium(m-get-vw(16px), m-get-vw(19px));
            letter-spacing: m-get-vw(.3px);
            color: $red;
        }
    
        .slider_indicator {
            width: max-content;
            bottom: 0;
            left: 0;
    
            position: absolute;
            display: grid;
            grid-auto-flow: column;
            grid-auto-columns: max-content;
            grid-column-gap: m-get-vw(4px);
    
            .dot {
                width: m-get-vw(100px);
                height: m-get-vw(1.5px);
    
                cursor: pointer;
                background-color: $red;
                opacity: .3;
                transition: .3s;
            }
    
            .dot.active { opacity: 1; }
        }
    }
}